
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>allbooks</title>
</head>
<body>
    <h1>List of All Books</h1>
    <p>Here is the list of all the books avaliable at our book store.</p>
    <button>Click Me</button>
</body>
</html>
