
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <h1>This is the About Us page of Our Website</h1>
    <p>We can provide diffrent varieties of the book to our customers</p>
    <p>If you have any complaints or issues go to our customer service page</p>
</body>
</html>
